{% extends "visionit/base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row justify-content-sm-center">
        <div class="col-sm-10 p-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Camera Snapshot</h5>
                </div>
                <img class="card-img-top NO-CACHE" src="{% static "processed.jpg" %}" alt="Camera Snapshot" style="object-fit: fill">
                <div class="card-body">
                    <h5 class="card-title">Brief description of the scenery</h5>
                    <p class="card-text">{{ positional_desc }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
